@CHARSET "utf-8";

@font-face {
    font-family: PlanSki;
    src: url(/planski/libraries/fonts/planski.ttf), url(/planski/libraries/fonts/planski.eot);
}

@font-face {
    font-family: Winter;
    src: url(/planski/libraries/fonts/winter.ttf), url(/planski/libraries/fonts/winter.eot);
}

.cbp-tm-menu {
    margin-top: -45px;
}

@-moz-document url-prefix() {
    .cbp-tm-menu {
        margin-top: -60px;
    }
}

.submitButton {
    font-size: 19px;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    line-height: 126%;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.i-large,
.i-medium,
.i-small {
    position : absolute;
    top: 82px;
    right: 0;
    width: 100%;
    height: 97px;
}

.i-large {
    background: url("/planski/images/div/particules_large.png") repeat 0px 0px;
    -webkit-animation: dropFlowParticles 2s linear infinite;
         -o-animation: dropFlowParticles 2s linear infinite;
            animation: dropFlowParticles 2s linear infinite;
}
.i-medium {
    background: url("/planski/images/div/particules_medium.png") repeat 0px 0px;
    -webkit-animation: dropFlowParticles 12s linear infinite;
         -o-animation: dropFlowParticles 12s linear infinite;
            animation: dropFlowParticles 12s linear infinite;
}
.i-small {
    background:url("/planski/images/div/particules_small.png") repeat 0px 0px;
    -webkit-animation: dropFlowParticles 27s linear infinite;
         -o-animation: dropFlowParticles 27s linear infinite;
            animation: dropFlowParticles 27s linear infinite;
}

@-webkit-keyframes dropFlowParticles {
    from { background-position: 0 0; }
    to { background-position: 0 413px; }
}

@keyframes dropFlowParticles {
    from { background-position: 0 0; }
    to { background-position: 0 413px; }
}

img {
    border: none;
}

table {
    border-collapse: collapse;
}

textarea {
    border:1px grey solid;
    background-color:#D8D8D8;
}

body {
    font-size:16px;
    color:rgb(84, 65, 70);
    font-family: Calibri;
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin: 0;
    margin-right:auto;
    margin-left:auto;
}

h2, h1 {
    margin:5px;
}

h3 {
    margin-top: 3px;
    z-index: 1000;
    font-size: 61px;
    font-family: PlanSki;
    float: left;
    padding-left: 44px;
    position: absolute;
}

.roundedInput {
    margin:5px;
    width:399px;
    height:39px;
    padding:8px;
    border-radius: 8px;
}

.subscribeForm input {
    border: 1px black solid;
    border-color: #bdc7d8;
}

.counter {
    display: inline-block;
    padding: 2px;
    width: 18px;
    height: 20px;
    border-radius: 2px;
    color: white;
    background-color: rgb(245, 23, 23);
    text-shadow: 2px 2px grey;
    text-align: center;
    vertical-align: middle;
}

.choosen {
    border:2px rgb(167, 167, 167) dotted;
}

.opacity {
    opacity: 0.4;
}

.editTable {
    float:left;
    text-align: left;
    margin:10px;
    margin-left: 30px;
}

.editTable th {
    width:190px;
    text-align: left;
}

.content {
}

.editTable input {
    width:300px;
}

.modal {
    background-image:url(/planski/images/structure/texture.png);
    width:80%;
    border-left: 1px black solid;
    border-right: 1px black solid;
    margin:2% auto;

}

.cyan {
    background-color: rgba(146, 217, 243, 0.34);
}

form {
    margin: 0;
}

.pancarte {
    background-image:url('/planski/images/structure/montagnes.jpg');
    padding-top: 12px;
    margin: 0 auto;
    height: 110px;
    text-align: center;
}

.intitule {
    font-style: italic;
    color:black;
}

.noresults {
    margin: 5%;
}

.results {
}

.lienProfil {
    text-align: left;
    font-color:white;
    font-size: 17px;
}

.menuLien:link, .menuLien:visited, .menuLien:active {color: #E8E8E8;}
.menuLien:hover, .menuLien:visited:hover {color: white;}

.planski a:link, .planski a:hover, .planski a:visited, .planski a:visited:hover, .planski a:active {color: #EFEEEE;}

a:visited, a:link, a:active {color: #808080;text-decoration: none ;}
a:hover, a:visited:hover {color: white;text-decoration: none ;}

.form {
    background-position: bottom;
    text-shadow: 2px 2px white;
    font-family:Winter;
    border-radius: 8px;
    background-size: cover;
    background-image:url(/planski/images/structure/pancarte.jpg);
    font-size: 35px;
    height: 60px;
    width:1008px;
    background-color: rgba(206, 206, 206, 0.34);
    color: black;
}

.formShadow {
    border-radius: 6px;
    width:1008px;
    height: 18px;
    -webkit-box-shadow: inset 2px 22px -20px 20px rgb(26, 26, 26);
    -moz-box-shadow: inset 2px 22px -20px 20px rgb(26, 26, 26);
    box-shadow: inset 2px 22px 20px -20px rgb(26, 26, 26);
}

.formTopShadow {
    -webkit-box-shadow: inset 2px 23px -20px 20px white;
    -moz-box-shadow: inset 2px 23px -20px 20px white;
    box-shadow: inset 2px 23px 20px -20px white;
}

.planski {
    text-shadow: 2px 2px black;
    float:left;
    font-family: Planski;
    font-size:48px;
    margin-top:5px;
}

.title {
    text-shadow: 2px 2px black;
    font-family: Winter;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    padding: 20px;
    padding-top: 5px;
    height: 28px;
    background-color: rgb(29, 39, 35);
    color: rgb(200, 223, 230);
    font-size: 32px;
}

.noMargin {
    margin-left: -25px;
}

.shadow {
    height: 18px;
    -webkit-box-shadow: inset 2px 22px -20px 20px rgb(26, 26, 26);
    -moz-box-shadow: inset 2px 22px -20px 20px rgb(26, 26, 26);
    box-shadow: inset 2px 22px 20px -20px rgb(26, 26, 26);
    margin-bottom:5px;
}

.topShadow {
    -webkit-box-shadow: inset 2px 23px -20px 20px rgb(81, 141, 203);
    -moz-box-shadow: inset 2px 23px -20px 20px rgb(81, 141, 203);
    box-shadow: inset 2px 23px 20px -20px rgb(81, 141, 203);
}

.allShadows {
    -webkit-box-shadow: inset 0px 1px 6px 29px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 6px 29px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 29px 6px rgba(0, 0, 0, 0.5);
}

.auth {
    font-size:13px;
}

.auth td {
    padding: 0 0 4px 14px;
}

.grey {
    background-color: rgba(206, 206, 206, 0.34);
}

.header {
    background-color: rgb(29, 39, 35);
    height: 82px;
    border: none;
    -webkit-box-shadow: inset -1px -1px 1px 18px rgb(81, 141, 203);
    -moz-box-shadow: inset -1px -1px 1px 18px rgb(81, 141, 203);
    box-shadow: inset -1px -1px 18px 1px rgb(81, 141, 203);
}

.userMenu {
    border:none;
    width: 970px;
    height: 98%;
    margin:0 auto;
}

.footer {
    font-size: 13px;
    color: #CECECE;
    background-color: rgb(29, 39, 35);
    height: 33px;
    padding: 12px;
    bottom: 0;
    border-left: 1px #808080 solid;
    border-right: 1px #808080 solid;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.snow {
    background-image: url(/planski/images/structure/montagnes.jpg);
    border: none;
    background-position: center;
    margin-left: -17px;
    padding-top: 35px;
    font-family: PlanSki;
    text-align: center;
    font-size: 33px;
    height: 62px;
    text-shadow: 2px 2px black;
}

.menu {
    width: 700px;
    height: 98%;
    margin-left:-321px;
    left:50%;
    position: absolute;
    top: 112px;
    font-family: PlanSki;
    text-align: center;
    font-size: 33px;
    height: 62px;
    text-shadow: 2px 2px black;
}

.menuLien {
    text-align: center;
    margin: 10px;
}

.caret {
    float:right;
    margin-left:10px;
    margin-top:14px;
    border-top: 4px solid white;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.smallPortrait {
    width: 100px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: top left;
    margin-right:9px;
    background-size: cover;
}

.profile-picture {
    border-radius:50%;
}

.onglet {
    top:55px;
    margin-left:55px;
    position:absolute;
    z-index: 1007;
    display:none;
}

.profilePortrait {
    margin:20px;
    border-radius:50%;
    background-size: cover;
    width:294px;
    height:294px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-right:9px;
    border:2px outset;
}

.connectedPhoto {
    top: 21px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
}

.menuLine {
    float:right;
}

.smallProfilePortrait {
    margin: 20px;
    width:150px;
    height:150px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-right: 9px;
    border: 2px outset;
}

.smallAppartPortrait {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-right: 50px;
    margin-top:-18px;
    border: 2px outset;
}

.shade {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.crewLibel {
    background-image: linear-gradient(30deg, white, #908A8A);
    margin-left: 49px;
    height: 31px;
    position: absolute;
    color: black;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px grey solid;
    margin-top: 160px;
    text-align: center;
    padding:30px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.appartLibel {
    background-image: linear-gradient(30deg, white, #908A8A);
    margin-left: 21px;
    width: 294px;
    height: 31px;
    position: absolute;
    color: black;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px grey solid;
    margin-top: 271px;
    text-align: center;
    padding-top: 7px;
}

.smallAppartLibel {
    background-image: linear-gradient(30deg, white, #908A8A);
    margin-left: -24px;
    width: 188px;
    height: 31px;
    font-size: 13px;
    color: black;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px grey solid;
    margin-top: 132px;
    text-align: center;
}

.profileLogin {
    //background-image:linear-gradient(30deg, white, #908A8A);
    background-image:url(/planski/images/structure/libel.jpg);
    margin-left: 21px;
    width: 294px;
    height: 42px;
    position: absolute;
    color: black;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px #aaa groove;
    margin-top: 268px;
    text-align: center;
    font-size: 35px;

    text-shadow: 2px 2px black;
    font-family: Winter;
    color: white;
    font-size: 32px;

}

.smallProfileLogin {
    background-image:linear-gradient(30deg, white, #908A8A);
    margin-left: -2px;
    width: 150px;
    height: 26px;
    position: absolute;
    color: black;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px grey solid;
    margin-top: 133px;
    text-align: center;
    font-family: Calibri;
    font-size: 21px;
    letter-spacing: -2px;
    font-weight: bold;
}

.editPhoto {
    margin:0 auto;
    position:relative;
    z-index: 5;
}

.editPhotoHover {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    float:left;
    z-index:10;
}

.site {
    width:auto;
    background-image:url(/planski/images/structure/texture.png);
    background-color:rgb(247, 247, 248);
    min-height: 90%;
    text-align:center;
    margin:0 auto;
}

.newPhoto:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.editPhoto:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.userFont {
    padding-top:5px;
    font-size:15px;
}

.divPhoto {
    float:left;
    width:100px;
    height:100px;
    background-size: cover;
}

.editPhoto:hover .removePhoto {
    opacity: 0.9;
}

.editPhoto:hover .definePhoto {
    opacity: 0.9;
}

.editPhoto .definePhoto {
    width:294px;
    height:294px;
    background:url('/planski/images/div/defineprofile.png') no-repeat;
    opacity:0;
}

.editPhoto .removePhoto {
    width:50px;
    height:50px;
    background:url('/planski/images/div/remove.png') no-repeat;
    opacity:0;
}

.profilePhoto {
    width:294px;
    height:294px;
    background:url('/planski/images/div/profilephoto.png') no-repeat;
}

.smallPortrait {
    width:100px;
    height:100px;
    background-repeat: no-repeat;
    background-position: top center;
}

.errorMessage {
    color:white;
    border:1px grey groove;
    background:red url('/planski/images/icones/alert2.png') no-repeat 10px center;
    height:50px;
    padding-top:25px;
    text-align:center;
    margin:15px;
}

div.autocomplete {
    font-size: 12px;
    position:absolute;
    display:none;
    background-color:white;
    border:1px black solid;
    min-width: 172px;
}

div.debug {
    position:absolute;
    border:1px white solid;
    background-color:white;
}

.facebookButton {
    background: linear-gradient(#4c69ba, #3b55a0);
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
}

#submit_button {
    color: white;
    background-color: black;
    font-weight: bold;
    border: 1px groove;
    width: 100px;
    height: 20px;
}

#submit_button:hover{
    background-color: rgb(46, 41, 57);
}

.divModule {
    margin:10px;
}

.divModuleProfil {
    margin-top:20px;
    margin-bottom:20px;
}

.notification {
}

.unread {
    background-color:#EDEFF5;
}

.grid {
    margin:10px;
    padding:10px;
}

.grid button {
    border-radius: 2px 0 0 2px;
    height: 40px;
    width: 180px;
    background-color: #FFFFFF;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    position: relative;
    border: 1px solid #cdcdcd;
    margin-left: -1px;
    color: #555;
    font-size: 14px;
}

.grid .selected {
    border: 1px solid #2574a9;
    color: #2574a9;
    background: #e0eef7;

}

.grid button:hover {
    background: #e0eef7;
}

.contentBox {
    padding: 30px;
    background: #fff;
    border: 1px solid #dcdcdc;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 700px;
}